:root {
    --HeaderBgColor: rgb(146, 204, 205);
    --HeaderTxtColor: rgb(50, 53, 62);
    --maintxtColor: rgb(68, 88, 118);
}

body {
    background-color: rgb(237, 237, 246);
    /* margin-top: 1000px; /* Added margin-top to test a href links worked */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}

h1 {
    font-size: 200%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color: var(--mainbgColor);
    font-weight: bold;
}

nav li a {
    color: var(--HeaderBgColor);
    text-decoration: none;
    border-bottom: 3px solid var(--HeaderBgColor);
}

#topTitle {
    background-color: var(--HeaderBgColor);
    color: var(--HeaderTxtColor);
}

#topTitle h1 {
    color: var(--HeaderTxtColor);
}

.top-Area {
    position: relative;
    text-align: center;
    color: white;
}

.top-Area > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.image-text-overlay {
    background-color: var(--HeaderBgColor);
    color: var(--HeaderTxtColor);
    position: absolute;
    bottom: 40px;
    right: 60px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.row {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.column-title {
    max-width: 200px;
    margin-right: 10px;
}

.column-details {
    border-left: 3px solid var(--maintxtColor);
    padding-left: 10px;
}

.topic-title {
    color: var(--maintxtColor);
    padding-right: 10px;
    margin-left: 80px;
    margin-bottom: 30px;
    margin-right: 10px;
    text-align: right;
}
