/* Declare top level variables, to make changes quicker */
:root {
    --HeaderBgColor: rgb(146, 204, 205);
    --HeaderTxtColor: rgb(50, 53, 62);
    --maintxtColor: rgb(68, 88, 118);
}


/* Sets the whole body background color */
body {
    background-color: rgb(237, 237, 246);
   /* margin-top: 1000px; /* Added margin-top to test a href links worked */
}

/* Sets up the header area with flex, space between, items center, padding, background color and text color */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}

/* Sets all h1 tags font size */
h1 {
    font-size: 200%;
}

/* Sets the navigation unordered list to use flex, justify content, minimum width, color and font weight */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color: var(--mainbgColor);
    font-weight: bold;
}

/* Formats the appearance of the a:href links in header list items */
nav li a {
    color: var(--HeaderBgColor);
    text-decoration: none;
    border-bottom: 3px solid var(--HeaderBgColor);
}

/* Sets the the title text with background and text color only in the header */
#topTitle {
    background-color: var(--HeaderBgColor);
    color: var(--HeaderTxtColor);
}

/* Sets the the title text h1 tag color */
#topTitle h1 {
    color: var(--HeaderTxtColor);
}

/* Sets the top area, below header, position, align center, and text color white */
.top-Area {
    position: relative;
    text-align: center;
    color: white;
}

/* Adjust the top area image(s) child, to specify dimensions and coverage */
.top-Area > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* Set the personal photo div container to a specific area with dimensions*/
#personal-image {
    position:absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 50px;
    z-index: 1;
} 

/* Sets the personal photo to specific height and width, with a border and radius */
#personal-image img {
    width: 150px;
    height: 150px;
    border: 1px solid #f0270d;
    border-radius: 150px;
}

/* Setup the Welcome to My Page, to the bottom right, with specific background and text color */
.image-text-overlay {
    background-color: var(--HeaderBgColor);
    color: var(--HeaderTxtColor);
    position: absolute;
    bottom: 40px;
    right: 60px;
    padding: 10px;
}

/* Main container, to hold information, sets the margin from top image */
.container {
    margin-top: 30px;
}

/* Generic selector to enable row like flex */
.row {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
  }

/* Generic selector to enable column like flex */
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

/* Sets the first column in each row to a specific width with righ margin */
.column-title {
    max-width: 200px;
    margin-right: 10px;
}

/* Sets the second column in each row to have left border and padding, with justify content */
.column-details {
    border-left: 3px solid var(--maintxtColor);
    padding-left: 10px;
    justify-content: center;
}

/* Formats the first column text in each row, spacing and color*/
.topic-title {
    color: var(--maintxtColor);
    padding-right: 10px;
    margin-left: 80px;
    margin-bottom: 30px;
    margin-right: 10px;
    text-align: right;
}

/* Formats alignment of the links in the Contact me */
.darkLinks {
    
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Formats the appearance of the a:href links in the Contact me */
.darkLinks a {
    color: var(--maintxtColor);
    text-decoration: none;
    border-bottom: 3px solid var(--maintxtColor);
}